<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/home.css">
    </head>
<body>
    <div class="container">
        <h1>Bank Game</h1>
        <p>Steal money or do whatever.</p>
        <div class="buttons">
            <a href="/login" class="button">Login</a>
            <a href="/create" class="button">Create Player</a>
            <a href="/players" class="button">View Players</a>
        </div>
    </div>
</body>
</html>
